*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}

.alignItemsCenter {
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
  margin-bottom: 2rem;
}


nav {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
}

.nav-button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 10px 20px;
  min-width: 300px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #038a53;
}

footer {
  text-align: center;
  padding: 1rem 0;
  background-color: #333;
  color: #fff;
  margin-top: auto;
  width: 100%;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }
}

#map {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 80%;
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 7px 32px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  display: block;
  border: 1px solid green;
  border-radius: 6px;
  margin-top: 3px; 
  width: 250px;
}

.button:hover {
  background-color: white;
  color: black;
  border: 2px solid #04AA6D;
}

.button:disabled {
  background-color: grey; 
  color: black;
  border: 1px solid white;
}

.container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 20%;
  min-width: 300px;
}

.horizontal-center {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  direction: ltr;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.marginb {
  margin-bottom: 1em;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 1em;
  width: 250px;
  border-radius: 6px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

label {
  color:black;
  margin-bottom: 0.5rem;
  display: block;
}

label {
  color:black;
}

.note {
  color: black;
}

.id {
  color: black;
  display:inline-block
}

#info {
  position: absolute;
  display: inline-block;
  height: auto;
  width: auto;
  z-index: 100;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  left: 50%;
  transform: translateX(3%);
  visibility: hidden;
  pointer-events: none;
}

.form-button {
  display: block;
  width: 75%;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #04AA6D;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.form-button:hover {
  background-color: #3e8e41;
}


.zone-name-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}

#zone-name {
  flex-grow: 1;
  margin-left: 10px;
}

.center-title {
  text-align: center;
}

#revised-mission-block {
  visibility: hidden;
}

.id-container {
  display: flex;
  flex-direction: row;
  height: 20px;
  align-items: center;
  margin-top: 20px;
  gap: 5px;
}

#id_select {
  flex-grow: 1;
  margin-left: 0px !important;
}

#mission-form {
  min-width: 350px;
}

.form-group {
  margin-bottom: 1rem;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.chart-container {
  width: 80%;
  margin: 20px auto;
  height: 300px;
}

.log-data {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  overflow: auto;
  max-height: 300px;
}
.log-data pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.info-vehicle {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.info-vehicle-data {
  width: 350px;
}

.info-vehicle-buttons {
  display: flex;
  flex-direction: row;
  min-width: 750px;
  gap: 10px;
}

.auth-container {
  width: 80%;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.auth-form-group {
  margin-bottom: 1rem;
}

.auth-form-group label {
display: block;
margin-bottom: 0.25rem;
}

.auth-form-control {
width: 100%;
padding: 0.5rem;
font-size: 1rem;
border: 1px solid #ced4da;
border-radius: 4px;
box-sizing: border-box;
}

.auth-form-control:focus {
border-color: #80bdff;
outline: 0;
box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.auth-submit-button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  background-color: #04AA6D;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
}
.auth-submit-button:hover{
  background-color: #3e8e41;
}

#main-buttons p {
  margin: 5px;
}

#mission-sender-form {
  width: 350px;
}

.interactable-icon {
  display: inline-block;
  cursor: pointer;
  font-size: 20px;
  padding: 3px 5px;
  transition: 0.3s;
  color: #383838;
}