html, body {
  margin: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 80%;
}

.button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  display: block;
  border: 1px solid green;
  border-radius: 6px;
  margin-top: 3px; 
  width: 250px;
}

.button:hover {
  background-color: white;
  color: black;
  border: 2px solid #04AA6D;
}

.button:disabled {
  background-color: grey; 
  color: black;
  border: 1px solid white;
}

.container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 20%;
}

.horizontal-center {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  direction: ltr;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.marginb {
  margin-bottom: 1em;
}

/* Стиль Выпадающей Кнопки */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 1em;
  width: 250px;
  border-radius: 6px;
}

/* контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Выпадающей контент (по умолчанию скрыт) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Изменить цвет выпадающих ссылок при наведении */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Показать выпадающее меню при наведении */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Изменить цвет фона выпадающего кнопка при отображении выпадающего списка */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

label {
  color:black;
}

.note {
  color: black;
}

.id {
  color: black;
  display:inline-block
}

#info {
  position: absolute;
  display: inline-block;
  height: auto;
  width: auto;
  z-index: 100;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  left: 50%;
  transform: translateX(3%);
  visibility: hidden;
  pointer-events: none;
}

.form-button {
  display: block;
  width: 75%;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #04AA6D;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.form-button:hover {
  background-color: #3e8e41;
}


.zone-name-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: 0 auto;
}

#zone-name {
  flex-grow: 1;
  margin-left: 10px;
}

.center-title {
  text-align: center;
}

#revised-mission-block {
  visibility: hidden;
}