<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ОРВД</title>
  <script src="{{ url_for('static',filename='ol/dist/ol.js') }}"></script>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='ol/ol.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body>
    <div id="map">
      <div id="info"></div>
    </div>

    <div class="container">
      <div class="horizontal-center">
        <p id="id" class="id note">ID: </p>
        <select id="id_select" style="display:inline-block;margin-left:10px;">
        </select>
        <p id="status" class="status note">Статус: - </p>
        <p id="waiters" class="wait note">Ожидают: - </p>
        <p id="dop" class="dop note">HDOP: - </p>
        <p id="sats" class="sats note">SATS: - </p>
        <div class="marginb"></div>

        <button id="arm" class="arm button" type="button">Arm</button>
        <button id="disarm" class="disarm button" type="button">Disarm</button>
        <div class="marginb"></div>

        <form>
          <label>
            <input id="mission_checkbox" type="checkbox" name="languages" value="mission">
            Подтверждение миссии
          </label>
          <br><br>
          <label>
            <input id="fly_accept_checkbox" type="checkbox" name="languages" value="fly_accept">
            Разрешение на полет
          </label>
        </form>
        <div class="marginb"></div>

        <button id="kill_switch" class="kill_switch button" type="button">Kill switch</button>
      </div>
    </div>
    <script type="module" src="{{ url_for('static',filename='admin.js') }}"> </script>
  </body>
</html>
