<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Инфо</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="{{ url_for('static', filename='external/chart.js') }}"></script>
    <script src="{{ url_for('static', filename='external/chartjs-adapter-date-fns.js') }}"></script>
</head>
<body>
    <header>
        <h1>Инфо</h1>
    </header>

    <main>
        <div class="info-vehicle">
            <div class="info-vehicle-data">
                <div class="form-group">
                    <label for="id">Серийный номер:</label>
                    <input type="text" id="id" name="id" class="form-control">
                </div>
                <div class="form-group">
                    <p id="firmware" class="note">Версия прошивки: - </p>
                </div>
            </div>
            <div class="info-vehicle-buttons">
                <button id="submit" class="form-button">Получить журналы</button>
                <button id="submit-speed" class="form-button">Получить график скорости</button>
                <button id="submit-events" class="form-button">Получить события</button>
                <button id="submit-telemetry-csv" class="form-button">Скачать телеметрию</button>
            </div>
        </div>

        <div id="logs-container" class="log-data hidden"></div>

        <div id="speed-chart-container" class="chart-container hidden">
            <canvas id="speed-chart"></canvas>
        </div>

        <div id="events-container" class="log-data hidden"></div>
    </main>

    <footer>
        <p></p>
    </footer>
     <script type="module" src="{{ url_for('static',filename='logs.js') }}"> </script>
</body>
</html>