<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Index</title>
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      </head>
<body>

<h1>Index</h1>
<p><a href="admin">• СУПА</a></p>
<p><a href="admin/forbidden_zones">• Запрещенные зоны</a></p>
<p><a href="mission_sender">• Mission sender</a></p>
<p><a href="logs">• Инфо</a></p>

</body>
</html>